.line-chart-grid {
  display: flex !important;
  overflow: hidden !important;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  padding: 0 4px 0 4px;
}

.line-chart-item {
  flex: 1 !important;
  min-height: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}
.line-chart-item > svg,
.line-chart-item > canvas {
  display: block;
  width: 100%;
}
.legend-line {
  background-color: #e6e6e6;
  padding: 4px 4px;
}

.container-pill {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.line-chart-header {
  display: flex;
  justify-content: space-around;
  background: rgb(230, 230, 230);
  align-items: center;
  padding: 2px 2px 2px;
  height: 56px;
  margin-bottom: 8px;
}

.line-chart-title {
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: center;
  min-width: 300px;
}

.pill-subtitle {
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  color: #666666;
  margin-bottom: 12px;
}

.pill-content {
  font-size: 14px;
  padding: 0 8px;
  color: #444444;
}
