.table-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: auto;
  overflow: auto;
}
.table-head {
  position: sticky;
}
.records-table {
  width: 100%;
  border-collapse: collapse !important;
  border: none !important;
  font-size: 14px;
}

.records-table th,
.records-table td {
  padding: 8px;
  text-align: left;
}

.records-table thead {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  z-index: 10;
}
.th-resizable {
  position: relative;
}
