.container-tile {
  background-color: #ffffff;
  flex: 1;
}

.tile-header {
  background: rgb(230, 230, 230);
  align-items: center;
  padding: 8px 2px 2px;
  height: 56px;
  margin-bottom: 8px;
}

.tile-title {
  margin: 0;
  text-align: center;
  padding: 10px 2px 18px;
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.tile-subtitle {
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  color: #666666;
  margin-bottom: 12px;
}

.tile-content {
  font-size: 14px;
  padding: 0 8px;
  color: #444444;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

/* Styles for the dropdown */
.tile-header .MuiFormControl-root {
  width: 100%;
}

.tile-header .MuiInputLabel-root {
  font-size: 14px;
  color: #666666;
  transform: translate(14px, 12px) scale(1); /* Adjust label position */
}

.tile-header .MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75); /* Adjust label position when shrunk */
}

.tile-header .MuiSelect-select {
  padding: 8px 32px 8px 14px; /* Adjust padding to fit height */
  font-size: 14px;
  height: 24px; /* Adjust height to match tile-header */
  display: flex;
  align-items: center;
}

.tile-header .MuiOutlinedInput-root {
  height: 40px; /* Adjust height to match tile-header */
}

.tile-header .MuiOutlinedInput-notchedOutline {
  border-color: #e0e0e0; /* Match border color */
}

.tile-header .MuiSelect-icon {
  top: calc(50% - 12px); /* Center the dropdown icon */
}
