/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align to top */
  min-height: 40vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 80px;
}

/* Dropzone styling */
.dropzone {
  width: 50%;
  max-width: 600px;
  height: 200px;
  border: 2px dashed #aaa;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.dropzone:hover {
  background-color: #f0f0f0;
}

.dropzone p {
  font-size: 18px;
  color: #555;
}

/* Success message */
.success-message {
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
.success-message span {
  color: #333a43;
  font-weight: bold;
  margin-right: 12px;
}
.success-message a {
  border-radius: 4px;
  background-color: #333a43;
  color: #fff;
  font-weight: 300;
  padding: 4px 8px;
}
.error-table {
  margin-top: 20px;
  width: 60%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .dropzone {
    width: 90%;
  }
  .error-table {
    width: 90%;
  }
}
